* {
    margin: 0;
    padding: 0;
}
a{
    display: block;
    color: black;
}
/*包含以下五种的链接*/
a {
    text-decoration: none;
}
/*正常的未被访问过的链接*/
a:link {
    text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
    text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
    text-decoration: none;
}
/* 正在点击的链接，鼠标在元素上按下还没有松开*/
a:active {
    text-decoration: none;
}
/* 获得焦点的时候 鼠标松开时显示的颜色*/
a:focus {
    text-decoration: none;
}
html,body {
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    padding: 15px 0;
    text-align: center;
}
.center{
    width: 800px;
    height: 500px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.selectEle{
    width: 50%;
    height: 40px;
}
.tableBox{
    width: 90%;
    margin: 50px auto 0;
}