body{
    position: fixed;
    top: 25%;
    font-size: x-large;
}

#pagetitle {
    text-align: center;
    left: 40%;
    bottom: 87%;
    position: fixed;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    vertical-align: text-top;
}


#QID {
    position: fixed;
    left: 5%;
}

#questionid {
    position: fixed;
    left: 3.5%;
    top: 20%;
}

#question {
    position: fixed;
    left: 15%;
    text-align: center;
}

#FrenchQuestions {
    position: fixed;
    left: 25%;
    top: 20%;
}

#DutchQuestions {
    position: fixed;
    left: 55%;
    top: 20%;
}

#french2009 {
    position: fixed;
    left: 55%;
    text-align: center;
}

#englishQuestions {
    position: fixed;
    top: 20%;
    right: 15%
}